<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/aboutPage.css">
</head>
<body>

<div class="about-section">
  <h1>About Us </h1>
  <p>Our humble effort to ease the life of Tenents and Houseowners </p>
  <p>Easy way to book hostel rooms ... JUST CLICK and GO !!!</p>
  <div><a href="/dashboard" style="color:aliceblue"> Go to Dashboard</a></div> 
											
</div>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="images/Aaditya.jpg " alt="Jane" width="475" height="570">
      <div class="container">
        <h2>Aaditya Faye</h2>
        <p class="title">SOMETHING</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>aaditya@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="images/pratham.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>PRATHAM MADHANI</h2>
        <p class="title">SOMETHING</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>pratham@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="images/pratik.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Pratik Karle</h2>
        <p class="title">Something</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>pratik@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>